<!DOCTYPE html>
	<html ng-app="quoteModule">
		
		<head>
			<title>Inspire Me!</title>
			<meta charset="utf-8">
			<link href="styles.css" rel="stylesheet" type="text/css">
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
		</head>

		<body ng-class="backgroundSize" ng-controller="quoteController">


		<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-
		HEADING AND MAIN NAVIGATION
		-=-=-=-=-=-=-=-=-=-=-=-=-=- -->

			<div class="centering-container content-background">
				<div class="intro">
					<h1>Inspire Me!</h1>
				</div>
			</div>
			<div ng-hide="hideHomepage" class="content-background">
				
				<div class="heading-content">

					<div class="quote-undo-button heading-button">
						<button class="button" ng-click="undoDelete()">Undo</button>
					</div>

					<div class="quote-add-button heading-button">
						<button class="button" ng-click="addQuoteForm()">Submit Quote!</button>
					</div>
					<div class="quote-random-button heading-button">
						<button class="button" ng-click="viewRandom()">View Random</button>
					</div>
				</div>

				<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-
				RANDOM QUOTE DISPLAY
				-=-=-=-=-=-=-=-=-=-=-=-=-=- -->

				<div class="quote-display random-quote" ng-repeat="random in random" ng-show="randomShown">
					<button class="button"ng-click="closeRandom()">X</button>
					<button class="button" ng-click="deleteQuote()">Delete Quote</button>
					<div>{{random.text}}</div>
					<div>{{random.author}}</div>
					<button class="button">See more quotes by {{random.author}}</button>
					<div>Submitted by {{random.username}}</div>
					<div>{{random.rating}}</div>
				</div>

				<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-
				MAIN QUOTE
				-=-=-=-=-=-=-=-=-=-=-=-=-=- -->

				<div class="quote-display border" ng-repeat="quote in quotes">
					<div>{{quote.text}}</div>
					<div>{{quote.author}}</div>
					<div>Submitted by {{quote.username}}</div>
					<div>{{quote.rating}}</div>
					<div class="centering-container">
						<button class="button" ng-click="openAuthor($index)">See more quotes by {{quote.author}}</button>
						<button class="button" ng-click="deleteQuote($index)">Delete Quote</button>
					</div>

					<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-
					STAR RATING SYSTEM
					-=-=-=-=-=-=-=-=-=-=-=-=-=- -->

					<div class="centering-container">
						<div class="idle-stars star centering-container">
							<div ng-click="showStars($index)" class="star" ng-repeat="star in idleStars">
								<img src="staridle.png">
								<span>{{star}}</span>
							</div>
							<div class="active-stars">
								<div class="star" ng-click="showStars($index)" ng-show="starsShown" ng-repeat="star in activeStars" class="centering-container">
									<img src="staractive.png">
									<span>{{star}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
					
				
			</div>

			<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-
			QUOTE SUBMIT FORM
			-=-=-=-=-=-=-=-=-=-=-=-=-=- -->			

			<div class="quote-submit-page" ng-show="formShown">
				<div class="form-display">
					<button class="button" ng-click="closeForm()">X</button>
					<form>
						<table>
							<tr>
								<td>
									Your name:
								</td>
								<td>
									<input ng-model="username" type="text">
								</td>
							</tr>
							<tr>
								<td>
									Quote:
								</td>
								<td>
									<input ng-model="text" type="text">
								</td>
							</tr>
							<tr>
								<td>
									Author:
								</td>
								<td>
									<input ng-model="author" type="text">
								</td>
							</tr>
						</table>
						<button class="button" ng-click="submitQuote()">Submit</button>
					</form>
				</div>
			</div>
			
			<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-
			QUOTES BY AUTHOR
			-=-=-=-=-=-=-=-=-=-=-=-=-=- -->			

			<div class="author-page" ng-show="authorShow">
				<div>
					<button class="button" ng-click="closeAuthor()">X</button>
					<h2>Quotes by {{author}}</h2>
						<div class="author-quote" ng-repeat="quote in authorList">
							<button class="button" ng-click="deleteQuote($index)">Delete Quote</button>
							<div>{{quote.text}}</div>
							<div>Submitted by {{quote.username}}</div>
						</div>
					</div>
				</div>
			</div>


			<script src="script.js"></script>

		</body>
	</html>