REWORKING AUTHOR PAGE

<div ng-show="authorShow">
	<button class="button" ng-click="closeAuthor()">X</button>
	<h2>Quotes by {{author}}</h2>
	<div ng-repeat="quote in author list">
		<div>"{{quote.text}}"</div>
		<button class="button" ng-click="deleteQuote($index)">Delete Quote</button>
		<div>Submitted by: {{quote.username}}
		<div class="centering-container">
			<div class="idle-stars star centering-container">
				<div ng-click="showStars($index)" class="star" ng-repeat="star in idleStars">
					<img src="staridle.png">
					<span>{{star}}</span>
				</div>
				<div class="active-stars">
					<div class="star" ng-click="showStars($index)" ng-show="starsShown" ng-repeat="star in activeStars" class="centering-container">
						<img src="staractive.png">
						<span>{{star}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
