/*-=-=-=-=-=-=-
MAIN PAGE
-=-=-=-=-=-=-*/

*{
	font-family: georgia, serif;
	color: rgb(255,255,220);
	margin: 0px;
	padding: 0px;
}

body{
	font-size: 17px;
	background: url(powerlines.jpg);
	background-size: 100vw;	
	background-attachment: fixed;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
BACKGROUND IMAGE RESPONSIVENESS
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.set-to-width{
	background-size: 100vw;
}

.set-to-height{
	background-size: cover;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-==--=*/
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-==--=*/



.content-background{
	background: rgba(39,110,136,0.8);
	height: 100%;
	width: 100%;
	max-width: 670px;
	margin: auto;
}

.heading-content{
	text-align: center;
	padding: 15px;
}

.intro{
	padding-top: 15px;
}

.heading-button{
	display: inline-block;
}

.quote-display{
	line-height: 1.5rem;
	border: 3px solid rgb(255,187,62);
	padding: 15px;
	width: 100%;
	max-width: 600px;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 5px 20px;
	letter-spacing: 0.5px;
}

.border{
	border: 3px solid rgb(255,187,62);	
}

.button{
	padding: 5px 20px;
	color: blue;
	background: rgb(255,195,77);
	margin: 10px 5px 10px 5px;
	border-style: none;
	border-radius: 5px;
	display: inline-block;
}

.centering-container{
	text-align: center;
}

.quote-submit-page{
	background: rgba(39,110,136,0.8);
	height: 100vh;
	width: 100vw;
	max-width: 670px;
	margin: auto;
	margin-top: 0px;
	padding-top: 100px;
}

.form-display{
	border: 3px solid rgb(255,187,62);
	padding: 15px;
	width: 100%;
	max-width: 600px;
	margin: auto;
	margin-bottom: 15px;
	border-radius: 5px 20px;
	letter-spacing: 0.5px;
}

/*-=-=-=-=-=-=-=
AUTHOR DISPLAY
-0-0-0-0-0-0--0*/

.author-page{
	background: rgba(39,110,136,0.8);
	height: 100vh;
	width: 100vw;
	max-width: 670px;
	margin: auto;
	margin-top: 0px;
	padding-top: 25px;
}

.author-quote{
	border: 3px solid rgb(255,187,62);
	padding: 15px;
	width: 100%;
	max-width: 600px;
	margin: auto;
	margin-bottom: 15px;
	border-radius: 5px 20px;
	letter-spacing: 0.5px;
}



/*-=-=-
STARS
-=-=-*/

.idle-stars{
	position: relative;
}

.active-stars{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 10;
}

.star{
	display: inline-block;
}

/*-=-=-=-=-=-=-
RANDOM DISPLAY
-=-=--=-=-=-=-*/

.random-quote{
	background-color: rgba(173,217,202,0.8);
	border-color: rgb(51,90,117);
}