body{
	background-color: lemonchiffon;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=
SUBMIT FORM POPUP LIGHTBOX
-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.lightbox{
	background-color: rgba(36,43,43,0.95);
	position: fixed;
    bottom: 0;
    right: 0;
	height: 100vh;
	width: 100vw;
	line-height: 100vh;
	text-align: center;
}

.smallLightbox{
	background-color: lemonchiffon;
	vertical-align: middle;
	position: relative;
	display: inline-block;
	line-height: initial;
	width: 100%;
	max-width: 600px;
	text-align: left;
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-
-=-=-=-=-=-=-=-=-=-==-=-=-

AUTHOR LIGHTBOX*/

.authorPage{
	height: 100vh;
}


.random-display{
	background-color: pink;
}



.quote-display{
	border: 3px solid goldenrod;
	margin: 10px;
	padding: 10px;
}

.border{
	border: 3px solid goldenrod;	
}